<!DOCTYPE html>
<html lang="pl">
<meta charset="utf-8">
<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/}">O Nas</a>
    |
    <a th:href="@{/productList}">
        Oferta
    </a>
    |
    <a th:href="@{/shoppingCart}">
        Koszyk
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
        <a th:href="@{/admin/orderList}">
            Moje zamówienia
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/product}">
            Create Product
        </a>
        |
    </th:block>
</div>