<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacje o koncie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Informacje o koncie</div>

<div class="account-container" >
    <ul>
        <li>Nazwa użytkownika:<span th:utext="${userDetails.getUserName()}"></span></li>
        <li>Czy konto aktywne:<span th:utext="${userDetails.isActive()}"></span></li>
        <li>Email: <span th:utext="${userDetails.getEmail()}"></span></li>
        <li>Numer telefonu: <span th:utext="${userDetails.getPhoneNumber()}"></span></li>
        <li>Adres: <span th:utext="${userDetails.getAddress()}"></span></li>
        <li>Imię: <span th:utext="${userDetails.getName()}"></span></li>
        <li>Nazwisko: <span th:utext="${userDetails.getLastName()}"></span></li>
        <li>Miasto: <span th:utext="${userDetails.getCity()}"></span></li>

    </ul>
    <a th:href="@{/shop/editAccountDetails}" target="_parent"><button type="button">Zmień</button></a>
</div>
</body>
</html>