<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacje o koncie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Informacje o koncie</div>
<div class="account-container">
    <ul>
        <li>Nazwa użytkownika:<span th:utext="${userDetails.getUserName()}"></span></li>
        <li>Status konta:<span th:utext="${userDetails.isActive()}"></span></li>
    </ul>
</div>


</body>
</html>