<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacje o koncie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Informacje o koncie</div>

<div class="account-container" >
    <ul>
        <li>Nazwa użytkownika:<span th:utext="${accountInfo.getUserName()}"></span></li>
        <li>Czy konto aktywne:<span th:utext="${accountInfo.isActive()}"></span></li>
        <li>Email: <span th:utext="${accountInfo.getEmail()}"></span></li>
        <li>Numer telefonu: <span th:utext="${accountInfo.getPhoneNumber()}"></span></li>
        <li>Adres: <span th:utext="${accountInfo.getAddress()}"></span></li>
        <li>Imię: <span th:utext="${accountInfo.getName()}"></span></li>
        <li>Nazwisko: <span th:utext="${accountInfo.getLastName()}"></span></li>
        <li>Miasto: <span th:utext="${accountInfo.getCity()}"></span></li>

    </ul>
    <a th:href="@{/editAccountDetails}">
        <button class="btn-zmiana">Edytuj</button>
    </a></div>
</body>
</html>