<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacje o koncie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Informacje o koncie</div>
<form th:object="${accountInfo}" th:action="@{/shop/editAccountDetails}"
      method="POST" enctype="multipart/form-data">
    <div class="account-container">
        <ul>
            <li>Nowy email:
                <td><input type="email" th:field="*{email}"/></td>
            </li>
            <li>Nowy numer telefonu:
                <td><input th:field="*{phoneNumber}"/></td>
                </span></li>
            <li>Nowy adres:
                <td><input th:field="*{address}"/></td>
                </span></li>
            <li>Nowe imię:
                <td><input th:field="*{name}"/></td>
            </li>
            <li>Nowe nazwisko:
                <td><input th:field="*{lastName}"/></td>
                </span></li>
            <li>Nowe miasto:
                <input th:field="*{city}"/></td>
                </span></li>

            <tr>
                <td>&nbsp;</td>
                <td><button type="submit" class="btn-zmiana" >Zatwierdź </button>
                </td>

            </tr>

        </ul>
    </div>

</form>
</body>
</html>