<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Niezapominajka</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Kwiaciarnia Niezapominajka</div>
<div class="demo-container">
    <h2>O Nas</h2>
    <h3>W naszej ofercie można znaleźć: </h3>
    <ul>
        <li>Przeglądanie szerokiej gamy produktów:
            <ul>
                <li>kwiatów,</li>
                <li>ozdób,</li>
                <li>dodatków.</li>
            </ul>
        </li>
        <li>Kreator bukietów</li>
    </ul>
</div>

</body>
</html>
