<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historia zamówień</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Informacje o zamówieniu</div>

<div class="customer-info-container">
    <h3>Dane klienta:</h3>
    <ul>
        <li>Nazwa: <span th:utext="${orderInfo.customerName}"></span></li>
        <li>Email: <span th:utext="${orderInfo.customerEmail}"></span></li>
        <li>Numer tel.: <span th:utext="${orderInfo.customerPhone}"></span></li>
        <li>Adres: <span th:utext="${orderInfo.customerAddress}"></span></li>
    </ul>
    <h3>Podsumowanie zamówienia:</h3>
    <ul>
        <li>Razem:
            <span class="total" th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
               </span>
        </li>
    </ul>
</div>
<br/>
<table border="1" style="width:100%">
    <tr>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Ilość</th>
        <th>Cena</th>
    </tr>
    <tr th:each="orderDetailInfo : ${orderInfo.details}">
        <td th:utext="${orderDetailInfo.productCode}"></td>
        <td th:utext="${orderDetailInfo.productName}"></td>
        <td th:utext="${orderDetailInfo.quanity}"></td>
        <td th:utext="${#numbers.formatDecimal(orderDetailInfo.price,3,2,'COMMA')}"></td>
    </tr>
</table>


</body>

</html>