<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uzupełnij dane dostawy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <style>
        /* Przyciski */
        input[type="submit"],
        input[type="reset"] {
            background: #85A4E4;
            color: white;
            border-radius: 30px;
            border-color: #85A4E4;
            padding: 0.5em 1em;
            cursor: pointer;
        }
    </style>
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Uzupełnij dane dostawy</div>

<form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">

    <table>
        <tr>
            <td>Nazwa *</td>
            <td><input th:field="*{name}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
            </td>
        </tr>
        <tr>
            <td>Email *</td>
            <td><input  th:field="*{email}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
            </td>
        </tr>
        <tr>
            <td>Numer tel. *</td>
            <td><input type="tel" th:field="*{phone}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
            </td>
        </tr>
        <tr>
            <td>Adres *</td>
            <td><input th:field="*{address}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Zatwierdź" /> <input type="reset"
                                                              value="Wyczyść" /></td>
        </tr>
    </table>

</form>


</body>
</html>